nav.sidebar {
  min-height: 100vh;
  &.bg-dark {
    background-color: #293042 !important;
    color: #fff;
    a {
      color: #adb5bd;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  &.navbar {
    position: relative;
    display: block;
    &.navbar-expand-lg {
      .navbar-collapse {
        flex-direction: column;
      }
      .navbar-nav {
        left: 1.5rem;
        position: fixed;
        flex-direction: column;
      }
    }
    ul {
      padding-left: 1rem;
      li {
        margin-bottom: 1rem;
      }
    }
  }
}
