.teamCard,
.resourceCard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
  header {
    position: relative;
    width: 100%;
    height: 140px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        rgb(random(255), random(255), random(255)),
        rgb(random(255), random(255), random(255))
      );
    }
    h1 {
      position: absolute;
      font-size: 1.5em;
      margin: 0.67em 0;
      bottom: 0;
      left: 5%;
      font-weight: 700;
      color: #fff;
      letter-spacing: 0.015em;
    }
  }
  section {
    padding: 1rem;
  }
  .meta {
    div {
      font-size: 0.75rem;
      background-color: #838d96;
      display: inline-block;
      padding: 0.25em 0.4em;
      border-radius: 3px;
      color: #fff;
      font-weight: 700;
      letter-spacing: 0.015rem;
      margin-right: 0.25rem;
      &:first-child {
        background-color: #343a40;
        margin-right: 0.5rem;
      }
    }
  }
  article {
    padding: 1.5em 0;
  }
  .actions {
    height: 38px;
    text-align: right;
    div {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}
